.navbar .nav_title {
  border: 0;
}

.nav_menu {
  background-color: #2A3F54;
  position: fixed;
  height: 57px;
}

.nav-md {
  .main_menu_side {
    padding-top: 70px;
  }
  .container.body .right_col {
    padding: 70px 20px 70px 20px;
  }
}

.nav-sm {
  .navbar.nav_title a img {
    margin-left: 7px;
  }
  .container.body .right_col {
    padding: 70px 20px 70px 20px;
  }
}

.site_title span {
  padding-left: 20px;
}

.top_nav .nav > li > a:focus,
.top_nav .nav > li > a:hover,
.top_nav .nav .open > a,
.top_nav .nav .open > a:focus,
.top_nav .nav .open > a:hover {
  background-color: transparent;
  cursor: pointer;
}

.nav.navbar-nav {
  position: fixed;
  right: 0;

  > li > a {
    color: #E7E7E7 !important;
  }
}

.page-title .title_right .pull-right {
  margin: 0;
}

footer {
  background-color: #2A3F54;
}
